<h1>All tasks</h1>

<%= link_to "Add a task", new_task_path %>

<% @tasks.each do |task| %>
  <h2><%= task.title %></h2>
  <!-- <p><%= task.content %></p> -->
  <%= link_to "More details", task_path(task) %>
  <br>
  <br>
  <%= link_to "Edit task", edit_task_path(task) %>
  <br>
  <br>
  <%= link_to "Delete task", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>
